*{
    outline: dotted 1px red;
}
/*evan stuff */

main {
    width: 960px;
    margin: 30px auto;
}

header, section {
    width: 960px;
    margin: 0 auto;
}

.large, h2 {
    position: absolute;
    font-family: 'Srisakdi', cursive;
    font-size: xx-large;
    right: 964px;
    top: -10px;
}

.xxSmall {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: xx-small;
    right:  933px;
    top: 39px;
    
}



.clearfix{
    clear: both;
  }
.spacer{
    position: absolute;
 	top: 95px;
    margin-right: 0px;
    
}

.logo {
    display: inline-block;
    float: left;
    margin-top: -7px;
}

header li {
   display: inline-block;
  
}

header ul {
    float: right;
    margin-right: 60px;
    margin-top: 0px;
}

#wifi {
    margin-left: 15px;
}


.recList {
    display: inline-block;
    margin-top: 710px;
}


/* becky stuff 
header, h2{
    font-family: 'Srisakdi', cursive;
} */
.first {
    width: 960px;
    margin: 0 auto;
}
.second {
    width: 960px;
    margin: 0 auto;
}
.spacer{
    width: 960px;
    margin: 0 auto;
}

#boldest {
    font-weight: bold;
}

#date {
    font-size: 10;
}
.choconess {
    float: left;
    margin-right: 100px;
    margin-top: 15px;
}
.for_later {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
}
#pp {
    float: left;
}
#pr {
    margin-top: 15px;
}
.clearfix {
    clear: both;
}
img {
    margin-top: 20px;
}
.instructions p {
    text-indent: 20px;
    font-size: 16pt;
    line-height: 15px;
    width: 960px;
    margin: 20 auto;
}